@use "tailwindcss";

@theme {
  --color-bg: var(--bg);
  --color-surface: var(--surface);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-border-clean: var(--border-clean);
  --color-accent-blue: var(--accent-blue);
  --color-accent-dim: var(--accent-dim);
  --color-success-green: var(--success-green);

  --font-sans: var(--font-sans), sans-serif;
  --font-mono: var(--font-mono), monospace;
}

html {
  scroll-behavior: smooth;
}

:root {
  --bg: #000000;
  --surface: #09090b;
  --text-primary: #ffffff;
  --text-secondary: #a1a1aa;
  --border-clean: #27272a;
  --accent-blue: #b4fe15;
  --accent-dim: rgba(180, 254, 21, 0.08);
  --success-green: #10B981;
}

body {
  color: var(--text-primary);
  background-color: var(--bg);
}

#sticky-card-1 {
  --index: 1;
}

#sticky-card-2 {
  --index: 2;
}

#sticky-card-3 {
  --index: 3;
}

#sticky-card-4 {
  --index: 4;
}

.sticky-card {
  // padding-top: calc(var(--index) * 2.5rem);
  top: calc(var(--index) * 4rem);
}
